body{
    background-color: rgb(255, 249, 172);
    font-family: 'MedievalSharp', cursive;
    font-size: 18px;
}

h1{
    text-align: center;
}
section{
    background-image: url(tarot.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 720px;
    padding: 5px;
    margin: auto;
    border-radius: 20px;
}

div#status-bar{
    background-color: rgb(0, 0, 0,0.10);
    color: black;
    text-align:right;
    height: 20px;
    width: 250px;
    margin:auto;
    margin-top: 120px;
    border-radius: 15px;
}

div#numero{
    background-color: rgb(0, 0, 0,0.10);
    color: black;
    text-align: center;
    border-radius: 10px;
    height: 180px;
    width: 250px;
    margin: auto;
    border-radius: 15px;
}
div#resultado{
    background-color: rgb(0, 0, 0,0.10);
    color:black;
    text-align: center;
    border-radius: 10px;
    height: 240px;
    width: 250px;
    margin: auto;
    border-radius: 15px;
}

p#status{
    padding-right: 20px;
    font-weight: bold;
    border-radius: 15px;
}

p#txtRodape{
    text-align: center;
}
p#txtResultado{
    text-align: left;
    padding-left: 20px;
    border-radius: 0px;
}